/* src/styles/index.css */
@import './components/drumpad.css';
@import './components/textsynth.css';
@import './components/shanty.css';
@import './components/machine.css';
@import './components/aurora-orchestra.css';
@import './components/soundscapes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  @apply bg-gray-50;
}
